section{
    background-color: #EEF2E6;
}

.banner-img{
    width: 100%;
    /* height: 100%; */
    height: 496px;
    object-fit: cover; object-position: 60% 0;
} 

.banner-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 522px;
    background: rgba(61,131,97, .63);
    /* z-index: 1; */
}

.title{
    /* position: relative; */
    margin-top: -33%;
    padding-left: 1rem;
    color: #EEF2E6;
    margin-bottom: 1rem;
}

.jdl{
    font-weight: 800;
    font-size: 40px;
}

.ket{
    padding-left: 1rem;
    color: #EEF2E6;
}

.ket-text{
    font-size: 20px;
    line-height: 1.3;
}

.program{
    padding-top: 3rem;
}

.p-card{
    background-color: #1C6758 !important;
    border-radius: 20px !important;    
}

.program .col-md-3{
    margin-inline: 2.3rem;
}

.p-card .card-title{
    font-weight: 700;
}
.p-card .card-body{
    color: #EEF2E6;
}
.p-card .card-img-top{
    width: 80px !important;
}

.visimisi{
    /* position: relative; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.vm-card{
    height: auto;
    width: 100%;
    max-width: 792px;       
    /* max-height: 300px; */
    border-radius: 20px !important;
    background-color: rgba(61, 131, 97, 0.85) !important;
    color: #EEF2E6;
}

.pht-card{
    width: 290px; 
    height: 380px;
    position: relative;
    margin-top: -0.5rem;
    left: -6rem;    
    border-radius: 20px !important;
    background-color: #1C6758 !important;
}

.vm{    
    margin-top: -0.5rem;
    margin-left: -2rem;
}

.vm-atr{
    /* width: 100%; */
    width: 196px;
    /* height: 100%; */
    height: 175px;
    position: relative;
    margin-top: -7rem;
    margin-left: 5rem;
    border-radius: 15px !important;
    background-color: #1C6758 !important;
    /* display: none; */
}

.vm-atr .card {
    height: 63px;
    width: 63px;
    margin-left: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    background-color: #D6CDA4;
}

.vm-img{
    position: absolute;
    bottom: 0;
}

.vm-card h4{
    font-weight: 900;
}

.vm-hr{
    margin-top: -0.1rem;
    border: 1.7px solid #1C6758;
    background-color: #1C6758;
    border-radius: 3px;    
}

.p-hr{
    margin-top: -0.1rem;
    border: 2px solid #1C6758;
    background-color: #1C6758;
    border-radius: 3px; 
}

/* fakta */
.fakta{    
    background-image: url('../img/fakta-img.png');
    height: 100%;
    background-size: cover;
    /* object-fit: cover;  */
    background-position: 40% 0;
    object-position: 100% 0;
}

.r-circle{
    padding-top: 2%;
    /* padding-left: 14%; */
}

.text{
    padding-top: 40%;
    font-weight: 900;
    color: #EEF2E6;
}

.divider{
    background-color: #EEF2E6 !important;
    position: relative;
    top: -1rem;
    width: 100%;
    height: 110px;
    border-radius: 25px 25px 0 0 !important;
    border: none !important;
    box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.25);
}

#slider {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#slider ul li {
    position: relative;
    /* height: 100%;     */
    width: 1%;
    float: left;
}
#slider ul li img{
    /* width: 500px; */
    width: 100%;
    height: 522px;
    object-fit: cover; object-position: 60% 0;
}

#slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}
#slider #prev {
    left: 10px;
}
#slider #next {
    right: 10px;
}

.card-berita{
    background-color: #1C6758 !important;
    border-radius: 22px !important;
}


.card-berita .card-body{
    color: #EEF2E6;
}

.card-berita .card-img-top{
    border-radius: 22px 22px 0 0;
    height: 200px;
}

.btn-berita{
    background-color: #D6CDA4 !important;
    font-size: 14px !important;
}
.btn-berita:hover{
    background-color: #b5b2a4 !important;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .banner-img{
        height: 610px;
    }
    .banner-layer{
        max-height: 610px;
    }
    .title{
        position: relative;
        margin-top: -23rem;        
    }
    .jdl{
        font-size: 2.3rem;
    }
    .ket-text{
        font-size: 16px;
    }
    .col-4 .vm-atr{
        display: none;
    }

    .row .vm-card{
        margin-inline: 0.7rem;
    }
    .vm{
        margin: 0;
    }
    .pht-card{
        margin-left: 35%;
        margin-top: 10%;
        margin-bottom: 17%;        
    }
    .vm .col-2{
        margin-right: 0.5rem;
    }
}

@media only screen and (min-width:768px) and (max-width:969px){
    /* For tablet: */
    .banner-img{
        height: 610px;
    }
    .banner-layer{
        max-height: 610px;
    }
    .title{
        position: relative;
        margin-top: -23rem;        
    }

    /* .col-4 .vm-atr{
        display: none;
    } */

    .row .vm-card{
        margin-inline: 4rem;
        padding: 3rem;
    }
    .vm{
        margin-left: 0;
        margin-bottom: -3rem;
        margin-top: -1rem;
    }
    .pht-card{
        margin-left: -3rem;
        margin-top: 10%;
        margin-bottom: 17%;        
    }
    .vm .col-2{
        margin-right: 0.9rem;
    }
    .r-circle{
        margin-top: 12rem;
    }
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.arrow {
	width: 100%;
	height: 100%;	
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content:center;
	width: 300px;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.scroll {    
	width: 60px;
	height: 60px;
	position: relative; 
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}

.scroll::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 18px;
    width: 22px;
    height: 22px;
    border-left: 3px solid #333;
    border-bottom: 3px solid #333;    
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.25);
    transform: rotate(-45deg);
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

/* hahaha */
.try{
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 50%;
    transform: rotate3d(0, 0, 1, 0.001deg); /* clear artifacts*/ 
}

.circle {
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 50%;
    transform: rotate3d(0, 0, 1, 0.001deg); /* clear artifacts*/
  }
  .circle:before,
  .circle:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    clip: rect(0px, 75px, 150px, 0px);
    border-radius: 100%;
    background-color: transparent;
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 1s spin2 linear 1s forwards;
    z-index: 2;
  }
  .circle:after {
    content: " ";
    background: transparent;
    z-index: 1;
    animation: 1s spin linear forwards;
  }
  /* border: 5px solid #D6CDA4; */
  @keyframes spin {
    from {
        border: 5px solid #D6CDA4;
      transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        border: 5px solid #D6CDA4;
      transform: rotate3d(0, 0, 1, 180deg);
    }
  }
  @keyframes spin2 {
    from {
      background: transparent;
      border: 5px solid #D6CDA4;
      transform: rotate3d(0, 0, 1, 180deg);
    }
    to {
      background: transparent;
      border: 5px solid #D6CDA4;
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }

/*All Animations*/
.zoom-in {
    -webkit-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
 

  